/* MMM-groshapp styling */

table.groshapp {
  width: 100%;
  border: 1px;
}

.groshapp .manu {
  padding-right: 5px;
}

.groshapp .title {
  padding-left: 0;
  padding-right: 0;
}

.groshapp .count::before {
  content: "⨉";
}
